
@media only screen and (min-width: 992px){
    .pull-center{
        padding-left: 28rem;

        .active{
            border-bottom:2px solid black;
            padding-bottom:1px;
            -webkit-transition: all 1s ease;  
            -moz-transition: all 1s ease;  
            -o-transition: all 1s ease;  
            -ms-transition: all 1s ease;  
            transition: all 1s ease;
        }
    }
}
