
@media only screen and (min-width: 992px){
    .pull-center{
        .active{
            border-bottom:2px solid white;
            padding-bottom:1px;
            color:white;
            -webkit-transition: all 1s ease;  
            -moz-transition: all 1s ease;  
            -o-transition: all 1s ease;  
            -ms-transition: all 1s ease;  
            transition: all 1s ease;
        }
    }

    .navbar-collapse{
        justify-content: center;
    }

}

.navHeader{
    font-family: 'Caveat', cursive;
    color:white !important;
}


.nav-link{
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:white !important;
    margin-right:2.2rem !important;
}

#img-header{
    height:100vh;
    min-height:400px;
    background-size:cover;
    opacity: 0.9;
    //background-image:url('../static/images/bg-image.jpg')
}

#my-image{
    height:700px;
    width: 700px;
    border-radius: 50%;
}

.some-class{
    position: absolute;
    right: 60%;
    bottom: 0;
}

